/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

#menu {
    font-size: 160%;
    letter-spacing: 0px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 0em;

}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}


/* Main content */
main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px;
}

/* Hero image section */
#hero-image {
    height: 600px;
    width: 100%;
    background: url("cg.jpg") no-repeat center center/cover;
    position: relative;

}

#calisthenics-explain>div #benefits-of-calisthenics>div {
    line-height: 20px;
    margin-bottom: 20px;
    text-align: center
}

/* Gallery page */
#pictures img {
    width: 100%;
    line-height: 1em;
}

#pictures {
    line-height: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

* contact css */ .contact {
    color: white;
    background-color: rgb(207, 214, 207);
    width: 100%;
}

.contact-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-map {
    width: 100%;
    height: 600px;
}

.contact-map iframe {
    width: 100%;
    height: 100%;
}

.contact-form {
    margin-top: 60px;
    margin-bottom: 60px;
}

.contact h2 {
    margin-bottom: 20px;
}

.field {
    color: white;
    width: 100%;
    background-color: rgb(207, 214, 207);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    border: solid;
    border-width: 0px 0px 2px 0px;
}

input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

.textarea {
    min-height: 150px;
}

.btn {
    color: white;
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: black;
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: none;
    border-radius: 20px;
}

.btn:hover {
    background-color: #ff7300df;;
}

.informations strong {
    display: inline-block;
    justify-content: center;
    font-size: 1.5em;
    padding: 5px;
}

label {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
}


.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2em;
    color: black;
    opacity: 0, 9;
}

/* Hover affect on social media icon */
.socialIcons a:hover {
    background-color: #ff7300df;
    transition: 0.5s;
}

.socialIcons a:hover i {
    color: white;
    transition: 0.5s;
}


/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    #pictures {
        column-count: 2;
        column-gap: 0;
    }
}


/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 79px;
    }

    /* definition section */
    #definition {
        width: 90%;
        margin: 20px auto;
    }

    #definition h2 {
        margin-bottom: 20px;
        text-align: left;
        font-size: 280%;
    }

    #hero-image {
        height: 600px;
        width: 100%;
        background: url("cg.jpg") no-repeat center center/cover;
        position: relative;
        background-size: cover;

    }

    /* Gallery */
    #pictures {
        column-count: 2;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
        background-color: #ff7300df;

    }

    /* Gallery */
    #pictures {
        column-count: 3;
    }

}