/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

#menu {
    font-size: 160%;
    letter-spacing: 0px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 0em;

}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}


/* Main content */
main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px;
}

/* Hero image section */
#hero-image {
    height: 600px;
    width: 100%;
    background: url("cg.jpg") no-repeat center center/cover;
    position: relative;

}

#calisthenics-explain>div #benefits-of-calisthenics>div {
    line-height: 20px;
    margin-bottom: 20px;
    text-align: center
}

/* Gallery page */
#pictures img {
    width: 100%;
    line-height: 1em;
}

#pictures {
    line-height: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.contact-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: normal;
    background: url("images/pics/cbgi.jpg") no-repeat center/cover;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
}

#contact-us {
    width: 700px;
    height: 600px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    background: rgba(65, 121, 105, 0.048);
    backdrop-filter: blur(30px);
    flex-wrap: wrap;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
}

#contact-us h1 {
    color: white;
    font-weight: 700;
    line-height: 2;
    margin-top: 20px;
    width: 500px;
    text-align: center;
}

#contact-us input {
    width: 300px;
    height: 50px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 20px;
    margin-bottom: 10px;
    background: none;
    border-bottom: 2px solid #fff;
    color: #fff;
}

#contact-us input::placeholder {
    color: #fff;
}

#contact-us h2 {
    color: #fff;
    font-weight: 300;
    width: 600px;
    margin-top: 20px;
}

#contact-us textarea {
    background: none;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-weight: 200;
    font-size: 20px;
    padding: 10px;
    outline: none;
    min-height: 90px;
    max-height: 90px;
    min-width: 620px;
    max-width: 620px;
}

#contact-us h2 {
    font-size: 20px;
}

#button {
    border: none;
    background: #fff;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 24px;
    color: #000;
    width: 200px;
    height: 60px;
    padding: 0;
    margin-bottom: 30px;
    transition: 0.3s;
}

#button:hover {
    background: #ff7300df;
    color: #fff;
    transition: .3s ease-in-out;
}

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2em;
    color: black;
    opacity: 0, 9;
}

/* Hover affect on social media icon */
.socialIcons a:hover {
    background-color: #ff7300df;
    transition: 0.5s;
}

.socialIcons a:hover i {
    color: white;
    transition: 0.5s;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Contact Form */
    .contact-container {
        background-position: center;
        position: relative;
    }

    .contact-us {
        max-width: 100%;
        position: absolute;
    }


}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    #pictures {
        column-count: 2;
        column-gap: 0;
    }
}


/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 79px;
    }

    /* definition section */
    #definition {
        width: 90%;
        margin: 20px auto;
    }

    #definition h2 {
        margin-bottom: 20px;
        text-align: left;
        font-size: 280%;
    }

    #hero-image {
        height: 600px;
        width: 100%;
        background: url("cg.jpg") no-repeat center center/cover;
        position: relative;
        background-size: cover;

    }

    /* Gallery */
    #pictures {
        column-count: 2;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
        background-color: #ff7300df;

    }

    /* Gallery */
    #pictures {
        column-count: 3;
    }

}